## Session 2 Notebook
* assigning values
* comparing values
* logical operators
* lists
* dictionaries
* tuples
* sets
* if/else
* for loops
* while loops

In [ ]:
## Assigning values

# Initialize a variable
number = 10

# Using += to add a value to the variable
number += 5  # Equivalent to number = number + 5

# Print the updated value
print("After adding 5:", number)  # Output: After adding 5: 15

# Using -= to subtract a value from the variable
number -= 3  # Equivalent to number = number - 3

# Print the updated value
print("After subtracting 3:", number)  # Output: After subtracting 3: 12

After adding 5: 15
After subtracting 3: 7

In [ ]:
## Operators

# Initialize two variables
a = 10
b = 20

# Compare if a is equal to b
print("a is equal to b:", a == b)

# Compare if a is not equal to b
print("a is not equal to b:", a != b)

# Compare if a is greater than b
print("a is greater than b:", a > b)

# Compare if a is less than or equal to b
print("a is less than or equal to b:", a <= b)

# Compare if a is greater than or equal to b
print("a is greater than or equal to b:", a >= b)

a is equal to b: False
a is not equal to b: True
a is greater than b: False
a is less than or equal to b: True
a is greater than or equal to b: False

In [ ]:
## Logical operators

# Initialize two variables
a = True
b = False

# Logical AND - both must be 'true'
result_and = a and b
print("a and b:", result_and)  # Output: a and b: False

# Logical OR - one must be 'true'
result_or = a or b  # a or b OR a AND b
print("a or b:", result_or)    # Output: a or b: True

# Logical XOR (exclusive or) - ONLY one must be 'true'
result_xor = a ^ b
print("a xor b:", result_xor)  # Output: a xor b: True

a and b: False
a or b: True
a xor b: True

In [ ]:
#lists

my_list = [1,2,3,4,5,6,7,8,9]

my_string_list = ['anna', 'ben', 'charlie', 'david', 'ellie']

print(my_list)
print(my_string_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['anna', 'ben', 'charlie', 'david', 'ellie']

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]

my_list.append(10)

In [ ]:
# add something to the end of a list

# the append method
my_list.append('10')

my_string_list.append('fred')

print(my_list)

#note what happens if you forget to reassign to the variable name!
print(my_string_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, '10', '10']
['anna', 'ben', 'charlie', 'david', 'ellie', 'fred', 'fred']

In [ ]:
# access a particular entry of a list

# 0 indexing applies to python
print(my_string_list[0])

print(my_string_list[3])

# if you go outside of the range, this happens
print(my_string_list[15])

anna
david

IndexError: list index out of range

In [ ]:
my_dict = {'name': 'anna', 'age': 29, 'occupation': 'software development'}

# key: value structure can be accessed
# keys() and values() provide one half of tue key:value pair, items() provides both

print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'age', 'occupation'])
dict_values(['anna', 29, 'software development'])
dict_items([('name', 'anna'), ('age', 29), ('occupation', 'software development')])

In [ ]:
# adding entries to a dictionary is slightly different to lists

my_dict['hobbies2'] = 'running'

print(my_dict)

{'name': 'anna', 'age': 29, 'occupation': 'software development', 'hobbies': 'sewing', 'hobbies2': 'running'}

In [ ]:
# sets

my_set = (1,2,3,4,5)

print(my_set)

print(my_set[2])

my_set = my_set.append(6)

(1, 2, 3, 4, 5)
3

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
## If/else and elif

# Initialize two variables
a = 10
b = 20
c = 30

# Compare if a is equal to b
if a == b:
    print("a is equal to b")
else:
    print("a is not equal to b")  # This will be printed

# Compare if a is not equal to b
if a == b:
    print("a is equal to b")
elif a + b == c:
    print("a + b = c") # This will be printed
else:
    print("something else is true")

a is not equal to b
a + b = c

In [ ]:
print(my_string_list)

['anna', 'ben', 'charlie', 'david', 'ellie', 'fred', 'fred']

In [ ]:
# for loops

for i in my_list:
    print(i)

for i in my_string_list:
    print(i)

1
2
3
4
5
6
7
8
9
10
10
anna
ben
charlie
david
ellie
fred
fred

In [ ]:
# while loops

a = 10

while a > 0:
    a-=1
    print(a)
else:
    print("a is too small now")

9
8
7
6
5
4
3
2
1
0
a is too small now